@model ThesisWebProjekt.Models.Thesis

@{
    ViewData["Title"] = "Create";


<h1>Create</h1>

<h4>Thesis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <div class="col-md-10">
                    <select name="Status" id="Status" asp-for="Status" class="col-md-10 form-control">
                        <option value="0" id="0">0- Frei</option>
                        <option value="1" id="1">1- Vorgemerkt</option>
                        <option value="2" id="2">2- Angemeldet</option>
                        <option value="3" id="3">3- Abgegeben</option>
                        <option value="4" id="4">4- Bewertet</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Lehrstuhl" class="control-label"></label>
                <div class="col-md-10">
                    <select name="LehrstuhlId" id="LehrstuhlId" asp-for="LehrstuhlId" class="col-md-10 form-control">
                        @Html.DisplayNameFor(model => model.LehrstuhlId)
                        <option value="10" id="10">BWL 10</option>
                        <option value="11" id="11">BWL 11</option>
                        <option value="12" id="12">BWL 12</option>
                    </select>
                    <span asp-validation-for="LehrstuhlId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Type" class="col-md-10 form-control" asp-items="Html.GetEnumSelectList(typeof(ThesisType))" style='width: 50%;'></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Studiengang" class="control-label"></label>
                <div class="col-md-12">
                    <select name="StudiengangId" id="StudiengangId" asp-for="StudiengangId" class="col-md-12 form-control">
                        <option value="1" id="1">Bachelor Wirtschaftsinformatik</option>
                        <option value="2" id="2">Bachelor Wirtschaftswissenschaften</option>
                        <option value="3" id="3">Master Wirtschaftswissenschaften</option>
                        <option value="4" id="4">Master Wirtschaftsinformatik</option>
                    </select>
                    <span asp-validation-for="StudiengangId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEmail" class="control-label"></label>
                <input asp-for="StudentEmail" class="form-control" />
                <span asp-validation-for="StudentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration" class="control-label"></label>
                <input asp-for="Registration" class="form-control" />
                <span asp-validation-for="Registration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filing" class="control-label"></label>
                <input asp-for="Filing" class="form-control" />
                <span asp-validation-for="Filing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strengths" class="control-label"></label>
                <input asp-for="Strengths" class="form-control" />
                <span asp-validation-for="Strengths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weaknesses" class="control-label"></label>
                <input asp-for="Weaknesses" class="form-control" />
                <span asp-validation-for="Weaknesses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluation" class="control-label"></label>
                <input asp-for="Evaluation" class="form-control" />
                <span asp-validation-for="Evaluation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentVal" class="control-label"></label>
                <input asp-for="ContentVal" class="form-control" />
                <span asp-validation-for="ContentVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LayoutVal" class="control-label"></label>
                <input asp-for="LayoutVal" class="form-control" />
                <span asp-validation-for="LayoutVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StructureVal" class="control-label"></label>
                <input asp-for="StructureVal" class="form-control" />
                <span asp-validation-for="StructureVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StyleVal" class="control-label"></label>
                <input asp-for="StyleVal" class="form-control" />
                <span asp-validation-for="StyleVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiteratureVal" class="control-label"></label>
                <input asp-for="LiteratureVal" class="form-control" />
                <span asp-validation-for="LiteratureVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DifficultyVal" class="control-label"></label>
                <input asp-for="DifficultyVal" class="form-control" />
                <span asp-validation-for="DifficultyVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoveltyVal" class="control-label"></label>
                <input asp-for="NoveltyVal" class="form-control" />
                <span asp-validation-for="NoveltyVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RichnessVal" class="control-label"></label>
                <input asp-for="RichnessVal" class="form-control" />
                <span asp-validation-for="RichnessVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentWt" class="control-label"></label>
                <input asp-for="ContentWt" class="form-control" value="30"/>
                <span asp-validation-for="ContentWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LayoutWt" class="control-label"></label>
                <input asp-for="LayoutWt" class="form-control" value="15"/>
                <span asp-validation-for="LayoutWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StructureWt" class="control-label"></label>
                <input asp-for="StructureWt" class="form-control" value="10"/>
                <span asp-validation-for="StructureWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StyleWt" class="control-label"></label>
                <input asp-for="StyleWt" class="form-control" value="10"/>
                <span asp-validation-for="StyleWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiteratureWt" class="control-label"></label>
                <input asp-for="LiteratureWt" class="form-control" value="10"/>
                <span asp-validation-for="LiteratureWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DifficultyWt" class="control-label"></label>
                <input asp-for="DifficultyWt" class="form-control" value="5"/>
                <span asp-validation-for="DifficultyWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoveltyWt" class="control-label"></label>
                <input asp-for="NoveltyWt" class="form-control" value="10"/>
                <span asp-validation-for="NoveltyWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RichnessWt" class="control-label"></label>
                <input asp-for="RichnessWt" class="form-control"value="10" />
                <span asp-validation-for="RichnessWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>
    }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
