@model ThesisWebProjekt.Models.Thesis

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Thesis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bachelor" /> @Html.DisplayNameFor(model => model.Bachelor)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Master" /> @Html.DisplayNameFor(model => model.Master)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>

                <select name="Status" id="Status" asp-for="Status">
                    <option value="0" id="0">0</option>
                    <option value="1" id="1">1</option>
                    <option value="2" id="2">2</option>
                    <option value="3" id="3">3</option>
                    <option value="4" id="4">4</option>
                </select>

                <span asp-validation-for="Status" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEmail" class="control-label"></label>
                <input asp-for="StudentEmail" class="form-control" />
                <span asp-validation-for="StudentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration" class="control-label"></label>
                <input asp-for="Registration" class="form-control" />
                <span asp-validation-for="Registration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filing" class="control-label"></label>
                <input asp-for="Filing" class="form-control" />
                <span asp-validation-for="Filing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strengths" class="control-label"></label>
                <input asp-for="Strengths" class="form-control" />
                <span asp-validation-for="Strengths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weaknesses" class="control-label"></label>
                <input asp-for="Weaknesses" class="form-control" />
                <span asp-validation-for="Weaknesses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluation" class="control-label"></label>
                <input asp-for="Evaluation" class="form-control" />
                <span asp-validation-for="Evaluation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentVal" class="control-label"></label>
                <input asp-for="ContentVal" class="form-control" />
                <span asp-validation-for="ContentVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LayoutVal" class="control-label"></label>
                <input asp-for="LayoutVal" class="form-control" />
                <span asp-validation-for="LayoutVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StructureVal" class="control-label"></label>
                <input asp-for="StructureVal" class="form-control" />
                <span asp-validation-for="StructureVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StyleVal" class="control-label"></label>
                <input asp-for="StyleVal" class="form-control" />
                <span asp-validation-for="StyleVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiteratureVal" class="control-label"></label>
                <input asp-for="LiteratureVal" class="form-control" />
                <span asp-validation-for="LiteratureVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DifficultyVal" class="control-label"></label>
                <input asp-for="DifficultyVal" class="form-control" />
                <span asp-validation-for="DifficultyVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoveltyVal" class="control-label"></label>
                <input asp-for="NoveltyVal" class="form-control" />
                <span asp-validation-for="NoveltyVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RichnessVal" class="control-label"></label>
                <input asp-for="RichnessVal" class="form-control" />
                <span asp-validation-for="RichnessVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentWt" class="control-label"></label>
                <input asp-for="ContentWt" class="form-control" />
                <span asp-validation-for="ContentWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LayoutWt" class="control-label"></label>
                <input asp-for="LayoutWt" class="form-control" />
                <span asp-validation-for="LayoutWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StructureWt" class="control-label"></label>
                <input asp-for="StructureWt" class="form-control" />
                <span asp-validation-for="StructureWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StyleWt" class="control-label"></label>
                <input asp-for="StyleWt" class="form-control" />
                <span asp-validation-for="StyleWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiteratureWt" class="control-label"></label>
                <input asp-for="LiteratureWt" class="form-control" />
                <span asp-validation-for="LiteratureWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DifficultyWt" class="control-label"></label>
                <input asp-for="DifficultyWt" class="form-control" />
                <span asp-validation-for="DifficultyWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoveltyWt" class="control-label"></label>
                <input asp-for="NoveltyWt" class="form-control" />
                <span asp-validation-for="NoveltyWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RichnessWt" class="control-label"></label>
                <input asp-for="RichnessWt" class="form-control" />
                <span asp-validation-for="RichnessWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgrammeId" class="control-label"></label>
                <select asp-for="ProgrammeId" class="form-control" asp-items="ViewBag.ProgrammeId"></select>
                <span asp-validation-for="ProgrammeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Betreuer" class="control-label"></label>
                <input asp-for="Betreuer" class="form-control" />
                <span asp-validation-for="Betreuer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModified" class="control-label"></label>
                <input asp-for="LastModified" class="form-control" />
                <span asp-validation-for="LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
