@{
    ViewData["Title"] = "User Verwaltung";
}
<h1>@ViewData["Title"]</h1>
<!-- übernommen aus Link -->

@model ThesisWebProjekt.Models.AppUser

<h1 class="bg-info text-white">User erstellen</h1>
<a asp-action="Index" class="btn btn-secondary">Zurück</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <select name="lehrstuhl" id="lehrstuhl" asp-for="Lehrstuhl">
            <option value="BWL 10" id="10">BWL 10</option>
            <option value="BWL 11" id="10">BWL 11</option>
            <option value="BWL 12" id="10">BWL 12</option>
        </select>
        <!-- nicht optimal, vllt. Lehrstühle mithilfe von Html.DropDownList auswählen?, Viewbag?  IST JETZT MIT DROPDOWNLIST!-->
    </div>
    <button type="submit" class="btn btn-primary">Erstellen</button>
</form>