@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thesis Verwaltung Web Anwendung</h1>
    <p>Hello <a href="https://gph.is/g/a91gll9">Bald geschafft :)</a>.</p>
</div>
